/* font links */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* common start */
body{
	margin: 0;
	font-family: "Playfair Display", serif;
	font-size: 16px;
	font-weight: 400;
    color: #626262;
}
/* common end */
/* header start */
header{
	padding: 30px 0;
}
.container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
.logo{
	width: 12%;
	float: left;
	margin-top: 10px;
}
.logo a img{
	width: 100%;
}
.menu{
	width: 65%;
	float: right;
}
.menu ul{
	list-style: none;
	float: right;
}
.menu ul li{
	float: left;

}
.menu ul li a {
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 50px;
	color: #626262;
	 border-bottom: 2px solid transparent;
	 transition: .33s linear;
}
.menu ul li:last-child a {
	padding-right: 0;
}
.menu ul li a:hover {
   border-bottom: 2px solid #626262;
}
/* header end */